<div class="profile-menu">
<h1>Your Menu</h1>
<div class="menu-box">
  <%= @menu.meals.each do |meal| %>
    <div class="individual-recipe-from-menu">
      <h3><%= meal.date.strftime("%A, %d/%m/%Y") %></h3>
      <h3><%= link_to meal.recipe.name, recipe_path(meal.recipe.id)%></h3>
      <p><%= meal.recipe.description %></p>
    </div>
  <% end %>
</div>
</div>
