.profile-layout > div {
  background: #fff;
  padding: 1em;
  height: 100%;
}

.profile-layout > div:nth-child(odd) {
  background: #4caf50;
  height: 100%;
}

.profile-layout {
  display:grid;
  grid-template-columns: 25% 75%;
}

.profile-navigation {
    list-style-type: none;
    background-color: #4caf50;
    width: 100%;
}

.nav-element {
    font-family: 'Libre Franklin', sans-serif;
    color: #fff;
    text-decoration: none;
    padding-top: 1em;
    padding-bottom: 1em;
}

/* Change the link color on hover */
.nav-element:hover {
    background-color: #555;
    color: white;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.profile-img {
  text-align: center;
}

.profile-img img{
  border-radius: 50%;
}
